<!DOCTYPE html>
<html>
  <head>
    <title>f테스트</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
  <button onclick="location.href='/auth/facebook'">Facebook login</button>
  </body>
</html>
